.metals/
.bsp/
.scala-build/
.vscode/
wacc-compiler
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WACC_26.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
wacc.Main
.idea/kotlinc.xml
.idea/libraries/KotlinJavaRuntime.xml
*.s
